* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    background-color: rgba(22, 22, 22);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.navbar > a {
    margin-left: 2rem;
    font-size: 1.3rem;
}

.header > div > h1 {
    font-size: 2rem;
}

.header > a {
    padding: 1rem;
}

.smoll {
    font-variant-numeric: oldstyle-nums;
    font-size: 0.8rem;
}

.contact {
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('./images/FirepitCroppedThin.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.subheading {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 8%;
    padding: 2rem;
}

.subheading > h2 {
    font-size: 4rem;
    margin-bottom: 0.3rem;
}

.subheading > p {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    width: 40%;
}

.link-container {
    display: flex;
     align-items: flex-start;
}

.phone-number {
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 1rem;
    color: white; /* This is the color of the text, replace it with any color you want */
    padding: 10px 20px; /* This is the space around the text, adjust it as you wish */
    text-decoration: none; /* This removes the underline from the link */
    border-radius: 6px; /* This makes the corners of the button rounded */
    border-style: solid;
    border-color: white;
    border-width: 1px;
    font-size: 1.3rem; /* This sets the size of the text, adjust it as you wish */
    transition: background-color 0.3s ease; /* This makes the color change gradually when you hover over the button */
}

.phone-number:hover {
    background-color: white; /* This is the color the button changes to when you hover over it */
    color: black;
    border-color: black;
}

.email-button {
    display: inline-block;
    background-color: #d6873d; /* This is a green color, replace it with any color you want */
    color: white; /* This is the color of the text, replace it with any color you want */
    padding: 10px 20px; /* This is the space around the text, adjust it as you wish */
    text-decoration: none; /* This removes the underline from the link */
    border-radius: 6px; /* This makes the corners of the button rounded */
    font-size: 1.3rem; /* This sets the size of the text, adjust it as you wish */
    border-style: solid;
    border-width: 1px;
    border-color: #d6873d;
    transition: background-color 0.3s ease; /* This makes the color change gradually when you hover over the button */
}

.email-button:hover {

    background-color: white; /* This is the color the button changes to when you hover over it */
    color: black;
}

.what-we-do {
    height: 90vh;
    text-align: center;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.what-we-do-text > h2 {
    color: black;
    padding-bottom: 2rem;
    font-size: 3rem;
}

.what-we-do-text {
    flex: 60%;
    text-align: left;
    margin-left: 5%;
}

.what-we-do-text > p {
    color: black;
    font-size: 1.3rem;
}

.what-we-do-image{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.what-we-do-image > img {   
    width: 90%;
    height: auto;
}

.who-we-are {
    height: 90vh;
    text-align: center;
    background: linear-gradient(rgba(22, 22, 22), rgb(83, 83, 83));
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.who-we-are-text {
    flex: 60%;
    text-align: left;
    margin-left: 5%;
}

.who-we-are-text > h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
}

.who-we-are-text > p {
    font-size: 1.3rem;
}

.who-we-are-image{
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-we-are-image > img {   
    width: 90%;
    height: auto;
}


@media screen and (orientation: portrait) {
    .what-we-do {
        flex-direction: column;
    }
    .who-we-are {
        flex-direction: column;
    }
    .subheading > h2 {
        font-size: 5rem;
    }
    .subheading > p {
        font-size: 2rem;
        width: 80%;
    }
    .phone-number {
        font-size: 3rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    .email-button {
        font-size: 3rem;
        border-radius: 10px;
    }
    .link-container {
        flex-direction: column;
    }
    .what-we-do-text > h2 {
        font-size: 5rem;
    }
    .what-we-do-text > p {
        font-size: 2rem;
    }
    .what-we-do-image{
        margin: 20% 0 10% 0;
    }
    .who-we-are-image{
        margin: 20% 0 10% 0;
    }
    .who-we-are-text > h2 {
        font-size: 5rem;
    }
    .who-we-are-text > p {
        font-size: 2rem;
    }
    .who-we-are {
        height: 100vh;
    }
}